{% extends 'base.html' %}
{% load static %}
{% block title_block %}
    Dashboard
{% endblock %}
{% block style_block %}
        <style>
body {
background-image: url({% static '/images/dashboard.jpeg' %});
background-size: cover; /* Cover the entire page */
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Don't repeat the image */
    height: 100vh; /* Make the body full screen height */
    margin: 0; /* Remove any margin */
}
    </style>
{% endblock %}

{% block header_block %}
<h1> <b> Welcome, {{ username }} </b> </h1>
{% endblock %}

{% block content_block %}

<div>
    <label><b>Quantity</b></label>
    <input name = "quantity" type="number" placeholder="Enter The Quantity you need" required/>
</div>

<button type="submit"><b>SUBMIT</b></button>

<a href="{% url 'homepage' %}">
        <button><b>HOME</b></button>
    </a>
    {% if messages %}
        <ul>
            {% for message in messages %}
                <li>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
{% endblock %}



<!--<!DOCTYPE html>-->
<!--<html lang="en">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <title>dashboard</title>-->
<!--        <style>-->
<!--body {-->
<!--background-image: url('/static/images/dashboard.jpg')-->
<!--}-->
<!--    </style>-->
<!--</head>-->
<!--<body>-->
<!--    <h1>u r AT -brd</h1>-->

<!--</body>-->
<!--</html>-->